body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}*/

